.Tire {
  width: 28%;
  padding: 1rem;
  position: relative;
  background-color: #dae4eb;

  .famous {
    position: absolute;
    left: -1rem;
    top: 0;
    border-radius: 5px;
    padding: .5rem 1.5rem;
    font-size: .9rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    background-color: #19a531;
    filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.3));
  }

  .tireImage {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }

  .totalTires {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    p {
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
      font-size: 1rem;
    }

    span {
      background-color: white;
      padding: 1rem 1.5rem;
      border-radius: 5px;
    }
  }

  .cartOptions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .countTires {
      width: 49%;
      max-width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      border-radius: 5px;

      button {
        padding: 0 .9rem;
        font-size: 1.5rem;
        font-weight: bolder;
        background-color: white;
        color: #ff8500;
        border: none;
        cursor: pointer;
      }
    }

    .addToCart {
      width: 49%;

      button {
        width: 100%;
        padding: 1rem .9rem;
        color: white;
        font-weight: bolder;
        font-size: 1rem;
        background-color: #dd0e35;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .buyNow {
    width: 100%;
    padding: 1rem 0;
    margin-top: 1rem;
    text-transform: uppercase;
    background-color: #ff8500;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
  }
}
